<div class="listcontainer">
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              View Item
              <div class="card-header-actions">
                <button type="button" class="btn btn-sm btn-dark" routerLink="/items">Go to Items List</button>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="view_left">
                            <img [src]="mediaBase + '/images/item/thumb/' + itemInfo.thumb" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="view_right">
                            <div class="view_right_row clearfix">
                                <div class="view_right_label">Item Name</div>
                                <div class="view_right_sep">:</div>
                                <div class="view_right_value view_right_value_title">{{itemInfo.name}}</div>
                            </div>
                            <div class="view_right_row clearfix">
                                <div class="view_right_label">Category</div>
                                <div class="view_right_sep">:</div>
                                <div class="view_right_value">{{itemInfo.category_id.title}}</div>
                            </div>
                            <div class="view_right_row clearfix">
                                <div class="view_right_label">Owner</div>
                                <div class="view_right_sep">:</div>
                                <div class="view_right_value">{{itemInfo.current_owner.first_name + " " + itemInfo.current_owner.last_name}}</div>
                            </div>
                            <div class="view_right_row clearfix">
                                <div class="view_right_label">Current Price</div>
                                <div class="view_right_sep">:</div>
                                <div class="view_right_value">{{itemInfo.price}} ETH</div>
                            </div>

                            <div class="view_right_row clearfix noborder">
                                <div class="view_right_label">Description</div>
                                <div class="view_right_sep">:</div>
                                <div class="view_right_value view_right_value_title">{{itemInfo.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>