<div class="listcontainer">
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              View Collection
              <div class="card-header-actions">
                <button type="button" class="btn btn-sm btn-dark" routerLink="/collections">Go to Collection List</button>
              </div>
            </div>
            <div class="card-body">
                <div class="row" *ngIf="collectionInfo!=null">
                    <div class="col-md-3">
                        <div class="view_left">
                            <img [src]="mediaBase + '/images/collection/banner/' + collectionInfo.banner" *ngIf="collectionInfo.banner"/>
                            <img [src]="mediaBase + '/images/user/nouser.jpg'" *ngIf="!collectionInfo.banner"/>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="view_right">
                            <div class="view_right_row clearfix">
                                <div class="view_right_label">Name</div>
                                <div class="view_right_sep">:</div>
                                <div class="view_right_value view_right_value_title">{{collectionInfo.name}}</div>
                            </div>
                            <div class="view_right_row clearfix">
                                <div class="view_right_label">Description</div>
                                <div class="view_right_sep">:</div>
                                <div class="view_right_value view_right_value_title">{{collectionInfo.description}}</div>
                            </div>
                            <div class="view_right_row clearfix">
                                <div class="view_right_label">Status</div>
                                <div class="view_right_sep">:</div>
                                <div class="view_right_value">{{collectionInfo.status}}</div>
                            </div>
                            <div class="view_right_row clearfix noborder">
                                <div class="view_right_label">Created Date</div>
                                <div class="view_right_sep">:</div>
                                <div class="view_right_value view_right_value_title">{{collectionInfo.create_date | amDateFormat:'LL'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>